.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: relative;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(70,70,142,1) 35%, rgba(0,212,255,1) 100%);
}

.header-title-style {
  color: white; /*#61dafb; */
  font-family: 'DM Sans', sans-serif;
  font-size: larger;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
